apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
  namespace: {{ .Values.ingress.namespace }}
  annotations:
    {{- with .Values.ingress.annotations }}
    nginx.ingress.kubernetes.io/proxy-body-size: {{ .proxyBodySize | quote }}
    nginx.ingress.kubernetes.io/proxy-read-timeout: {{ .proxyReadTimeout | quote }}
    nginx.ingress.kubernetes.io/proxy-send-timeout: {{ .proxySendTimeout | quote }}
    nginx.ingress.kubernetes.io/backend-protocol: {{ .backendProtocol | quote }}
    nginx.ingress.kubernetes.io/cors-allow-origin: {{ .corsAllowOrigin | quote }}
    nginx.ingress.kubernetes.io/enable-cors: {{ .enableCors | quote }}
    {{- end }}
spec:
  {{with .Values.ingress.spec}}
  ingressClassName: {{ .ingressName }}
  rules:
    {{with .rules.host }}
    - host: {{ .name }}
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .paths.slashService.name }}
              port:
                number: {{ .paths.slashService.portNumber }}
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: {{ .paths.apiAdminService.name }}
              port:
                number: {{ .paths.apiAdminService.portNumber }}
        - path: /admin
          pathType: Prefix
          backend:
            service:
              name: {{ .paths.apiAdminService.name }}
              port:
                number: {{ .paths.apiAdminService.portNumber }}
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .paths.apiAdminService.name }}
              port:
                number: {{ .paths.slashService.portNumber }}
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: {{ .paths.apiAdminService.name }}
              port:
                number: {{ .paths.apiAdminService.portNumber }}
        - path: /admin
          pathType: Prefix
          backend:
            service:
              name: {{ .paths.apiAdminService.name }}
              port:
                number: {{ .paths.apiAdminService.portNumber }}
    {{- end }}
  {{- end }}