replicaCount: 1
image:
  repository: tkshabalin/foodgram-back
  tag: latest
podAnnotations: {}
resources: {}
statefulset:
  env:
    values:
      RABBITMQ_USER: testuser
      RABBITMQ_HOST: rabbitmq.rabbitmq.svc.cluster.local
      RABBITMQ_PORT: "5672"
    secrets:
      RABBITMQ_PASSWORD: testpass
app:
  dbSecretsName: rabbitmq
