global:
  secret:
    db: db-secrets
    rabbitmq: rabbitmq-secrets
  config:
    db: db-config
    rabbitmq: rabbitmq-config
  service:
    backend: backend-service
    frontend: frontend-service
    flower: flower-service
  images:
    api:
      name: tkshabalin/foodgram-back
      tag: latest
      pullPolicy: Always

baseHost:
ingress:
  name: foodgram-ingress
  namespace: foodgram
  host: foodgram.local
  annotations:
    proxyBodySize: 10m
    proxyReadTimeout: 3600
    proxySendTimeout: 3600
    backendProtocol: HTTP
    corsAllowOrigin: "*"
    enableCors: true
  spec:
    ingressName: nginx
    rules:
      host:
        name: foodgram.local
        paths:
          slashService:
            name: nginx-service
            portNumber: 80
          apiAdminService:
            name: backend-service
            portNumber: 8000

service:
  port: 8000

flower:
  namespace: foodgram
  ingress:
    host: foodgram.local
