namespace: foodgram
svcName: backend-service

global:
  service:
    backend: backend-service
  images:
    api:
      name: tkshabalin/foodgram-back
      tag: latest
      pullPolicy: IfNotPresent
  secret:
    db: db-secrets
    rabbitmq: rabbitmq-secrets
  secrets:
    db: db-secrets
    rabbitmq: rabbitmq-secrets

statefulset:
  replicas: 1

image:
  name: tkshabalin/foodgram-back
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  ports: 
    host: database
    name: postgresql
    port: 8000

deployment:
  replicas: 1
  command: ["gunicorn"]
  args: ["--bind", "0.0.0.0:8000", "--workers", "2", "--timeout", "120", "foodgram.wsgi:application"]
  env:
    values:
      DB_HOST: database
      DB_PORT: "5432"
      DJANGO_SETTINGS_MODULE: foodgram.settings
    secrets:
      db:
        POSTGRES_DB: POSTGRES_DB               # ← Имя ключа в секрете
        POSTGRES_USER: POSTGRES_USER
        POSTGRES_PASSWORD: POSTGRES_PASSWORD
      rabbitmq:
        RABBITMQ_USER: username                # ← Имя ключа в секрете
        RABBITMQ_PASSWORD: password
    config:
      db:
        POSTGRES_HOST: host
        POSTGRES_PORT: port
      rabbitmq:
        RABBITMQ_HOST: host
        RABBITMQ_PORT: port

volumeMounts:
  media:
    name: media-volume
    mountPath: /app/media
    claimName: media-pvc
  static:
    name: backend-static
    mountPath: /backend_static
    claimName: static-pvc
